@model CinemaMvcClient.DTO_s.Movie.PagedMoviesDTO


@{
    ViewData["Title"] = "All Movies";
}

<h2>All Movies</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Movie</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <td>Description</td>
            <th>Release Date</th>
            <th>3D</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.Description</td>
                <td>@movie.ReleaseDate.ToShortDateString()</td>
                <td>@(movie.Is3D ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


